<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar color">Email App</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto"></ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="goToMangeEmails()">Manege emails</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="goToComposeEmail()">Compose email</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="userLogout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
