<div class="composeEmail-form">
  <form
    #f="ngForm"
    (ngSubmit)="f.form.valid && createEmail()"
    autocomplete="on"
  >
    <h2 class="text-center">compose email</h2>
    <div class="form-group">
      <input
        [(ngModel)]="emailSender"
        class="form-control"
        name="sender"
        placeholder= "from: {{emailSender}}"
        readonly
      />
    </div>

    <div class="form-group">
      <input
        [(ngModel)]="email.reciver"
        type="receiver"
        class="form-control"
        name="sender"
        placeholder="to:"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
        required
      />
      <span class="input-group-text"
        >someone@example.com</span
      >
    </div>

    <div class="form-group">
      <input
        [(ngModel)]="email.subject"
        class="form-control"
        name="subject"
        placeholder="subject"
      />
    </div>

    <div class="form-group">
      <input
        [(ngModel)]="email.messege"
        class="form-control"
        name="messege"
        placeholder="messege"
      />
    </div>

    <div class="form-group">
      <button
        type="submit"
        class="btn btn-primary btn-block"
        [disabled]="f.invalid"
      >
        Send Email
      </button>
    </div>

  </form>
</div>
