<div class="login-form">
  <form
    (ngSubmit)="f.form.valid && register()"
    #f="ngForm"
    action=""
    method="post"
  >
    <h2 class="text-center">Sign Up</h2>
    <div class="form-group">
      <input
        [(ngModel)]="userData.name"
        #name="ngModel"
        name="name"
        type="text"
        class="form-control"
        placeholder="Name"
        required="required"
      />
    </div>
    <div class="form-group">
      <input
        [(ngModel)]="userData.email"
        #email="ngModel"
        name="email"
        type="email"
        class="form-control"
        placeholder="Email"
        required="required"
      />
    </div>
    <div class="form-group">
      <input
        [(ngModel)]="userData.password"
        #password="ngModel"
        name="password"
        type="password"
        class="form-control"
        placeholder="Password"
        required="required"
      />
    </div>
    <div class="form-group">
      <button
        type="submit"
        class="btn btn-primary btn-block"
        [disabled]="f.invalid"
      >
        Sign Up
      </button>
    </div>
  </form>
  <p class="text-center">
    <a href="javascript:;" (click)="goToLoginPage()">Login</a>
  </p>
</div>
